.flag-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* reminder that 1fr sets equal-width of columns */
    gap: 10px; /* reminder that this sdjusts the gap between items */
}

.grid-item {
    background-color: #e4e4e4; /* we can change the color later for now we're just messing around */
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;    
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;  
}

body {
    background-color: #70a4f1;
}

.button {
    
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
  }
  
.button1:hover {
    background-color: #555555;
    color: white;
  }
  